<html>
<head>
  <title>Flexbox Example in canjs</title>
  <link rel="stylesheet" href="node_modules/material-design-lite/material.min.css">
</head>
<body>
  <div id="content"></div>

  <script type="text/javascript" src="node_modules/steal/steal.js" data-main="main"></script>
  <script defer src="node_modules/material-design-lite/material.min.js"></script>
</body>
</html>
